@model PlaylistViewModel

<img src="~/images/playlistbanner.png" alt="ASP.NET" class="img-responsive" />
<div class="container">
    <h2>@ViewData["Title"]</h2>
        <div class="btn-group">
        <button type="button" class="btn btn-default active">List view</button>
        <a class="btn btn-default" role="button" asp-area="" asp-controller="Playlist" asp-action="Grid">Grid view</a>
    </div>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Plays</th>
      </tr>
    </thead>
    <tbody>
        @foreach(var track in @Model.Tracks){
            <tr>
                <td>@track.Title</td>
                <td>@track.Artist</td>
                <td>@track.NumPlays</td>
            </tr>
        }
    </tbody>
  </table>
</div>

